#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: 'Bitter', serif;
	margin:auto;
}
#cssmenu > ul{
	margin:0 0 0 10px;
		z-index:9999;

}
#cssmenu > ul > li {
  float: left;
	padding:10px 10px 0 10px;
	height:50x;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
	width:290px;
	height:50px;
	margin:-10px 0 0 -10px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 30px;
  left: 11px;
  width: 200px;
  height: 50px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 200px;
  height: 50px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
	 border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
	
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
	width:262px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
	margin:0 0 0 -10px;
	background:#78b301;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 900px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu ul {
		width:340px;
		margin:auto;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
		margin:0 0 1px 0;
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
	 #cssmenu ul ul {
		 margin: 0 0 0 -30px;
	 }
  #cssmenu ul ul li a {
    padding-left:10px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #FFF;
		font-size:15px;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
		width:10px;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    left: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 3px solid #ff8800;
    border-bottom: 3px solid #9a33cc;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    left: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #78b301;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ff8800;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ff8800;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background:none;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
   position: absolute;
    top: 0;
    left: -250px;
    width: 273px;
    height: 49px;
    background:none;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
		background:none;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background:none;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 0;
    left: -250px;
    display: block;
    width: 273px;
    height: 49px;
    background:none;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
		width:200px;
		height:40px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
	.mb_com{
		width:256px;
		background:url(../images/mb_com.png) no-repeat;
	}
	.liv_prc{
		width:266px;
		height:49px;
		background:url(../images/mb_liv.png) no-repeat;
		float:left;
		margin:-27px 0 0 -27px;
	}
	.buy_sl{
		width:266px;
		height:49px;
	  background:url(../images/mb_by.png) no-repeat;
		float:left;
		margin:-22px 0 0 -27px;
	}
	.md_submenu1{
		margin:-30px 0 0 50px;		
	}
	.md_submenu1:hover{
		text-decoration:underline;
	}
	.mb_tamil{
		width:30px;
		cursor:pointer;
		position:absolute;
		right:10px;
		top:10px;
		z-index:999;
	}
		
}
@media (min-width: 500px) and (max-width: 900px) {
	#cssmanu{
		display:block;
		
	}
	#cssmenu ul{
		margin:0 0 0 10px;
		width:320px;
	}
	#cssmenu ul ul{
		margin:12px 0 0 0;
		 border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
	}
	#cssmenu ul ul li {
  height: 0;
	width:320px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
	margin:0 0 0 -10px;
	background:#78b301;
}
.mb_com{
		width:320px;
		background:url(../images/mb_commenu.png) no-repeat;
	}
	.liv_prc{
		width:320px;
		height:61px;
		background:url(../images/mb_lvmenu.png) no-repeat;
		float:left;
		margin:-27px 0 0 -28px;
	}
	.buy_sl{
		width:320px;
		height:61px;
	background:url(../images/mb_bymenu.png) no-repeat;
		float:left;
		margin:-12px 0 0 -28px;
	}
	.md_submenu1{
		margin:-30px 0 0 50px;		
	}
	.md_submenu1:hover{
		text-decoration:underline;
	}
	.mb_tamil{
		width:30px;
		cursor:pointer;
		position:absolute;
		right:10px;
		top:10px;
		z-index:999;
	}
	
	.mbtm_com{
		width:320px;
		background:url(../images/mbtm_commen.png) no-repeat;
	}
	.tmliv_prc{
		width:320px;
		height:61px;
		background:url(../images/mbtm_livmenu.png) no-repeat;
		float:left;
		margin:-27px 0 0 -28px;
	}
	.tmbuy_sl{
		width:320px;
		height:61px;
	background:url(../images/mbtm_bysmenu.png) no-repeat;
		float:left;
		margin:-12px 0 0 -28px;
	}
	.md_submenu1{
		margin:-30px 0 0 50px;		
	}

}
@media (min-width: 280px) and (max-width: 499px) {
	#cssmenu ul{
		margin:auto;
		width:320px;
	}
	#cssmenu ul ul{
		margin:12px 0 0 0;
		 border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
	}
	#cssmenu ul ul li {
  height: 0;
	width:320px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
	margin:0 0 0 -10px;
	background:#78b301;
}
.mb_com{
		width:320px;
		background:url(../images/mb_commenu.png) no-repeat;
	}
	.liv_prc{
		width:320px;
		height:61px;
		background:url(../images/mb_lvmenu.png) no-repeat;
		float:left;
		margin:-27px 0 0 -28px;
	}
	.buy_sl{
		width:320px;
		height:61px;
	background:url(../images/mb_bymenu.png) no-repeat;
		float:left;
		margin:-12px 0 0 -28px;
	}
	.md_submenu1{
		margin:-30px 0 0 50px;		
	}
	.md_submenu1:hover{
		text-decoration:underline;
	}
	.mb_tamil{
		width:30px;
		cursor:pointer;
		position:absolute;
		right:10px;
		top:10px;
		z-index:999;
	}
	.mbtm_com{
		width:320px;
		background:url(../images/mbtm_commen.png) no-repeat;
	}
	.tmliv_prc{
		width:320px;
		height:61px;
		background:url(../images/mbtm_livmenu.png) no-repeat;
		float:left;
		margin:-27px 0 0 -28px;
	}
	.tmbuy_sl{
		width:320px;
		height:61px;
	background:url(../images/mbtm_bysmenu.png) no-repeat;
		float:left;
		margin:-12px 0 0 -28px;
	}
	.mb_log{
		width:40px;
		height:52px;
		cursor:pointer;
		position:absolute;
		right:40px;
		top:10px;
		z-index:9999;
	}
	.mb_log2{
		width:40px;
		height:52px;
		cursor:pointer;
		position:absolute;
		right:40px;
		top:60px;
		z-index:9999;
	}
	.mb_log3{
		width:40px;
		height:52px;
		cursor:pointer;
		position:absolute;
		right:40px;
		top:115px;
		z-index:9999;
	}
.menu_pop{
		width:40px;
		height:52px;
		cursor:pointer;
		position:absolute;
		right:18%;
		top:10px;
		z-index:9999;
		font-family: 'Bitter', serif;
	font-size:15px;
	color:#812990;
		}

}