@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    outline: 0 none;
		padding:0;
		margin:0;
    vertical-align: baseline;
}
@font-face{
	src: url(fonts/Bitter-Bold.otf);
	font-family:"Bitter-Bold";
	src: local("Bitter-Bold"), local("Bitter-Bold"),
		url("fonts/Bitter-Bold.otf") format("otf"),
		url("fonts/Bitter-Bold.eot") format("eot"),
		url("fonts/Bitter-Bold.ttf") format("ttf");
}
@font-face{
	src: url(fonts/Bitter-BoldItalic.otf);
	font-family:"Bitter-BoldItalic";
	src: local("Bitter-BoldItalic"), local("Bitter-BoldItalic"),
		url("fonts/Bitter-BoldItalic.otf") format("otf"),
		url("fonts/Bitter-BoldItalic.eot") format("eot"),
		url("fonts/Bitter-BoldItalic.ttf") format("ttf");
}
@font-face{
	src: url(fonts/Bitter-Italic.otf);
	font-family:"Bitter-Italic";
	src: local("Bitter-Italic"), local("Bitter-Italic"),
		url("fonts/Bitter-Italic.otf") format("otf"),
		url("fonts/Bitter-Italic.eot") format("eot"),
		url("fonts/Bitter-Italic.ttf") format("ttf");
}
@font-face{
	src: url(fonts/Bitter-Regular.otf);
	font-family:"Bitter-Regular";
	src: local("Bitter-Regular"), local("Bitter-Regular"),
		url("fonts/Bitter-Regular.otf") format("otf"),
		url("fonts/Bitter-Regular.eot") format("eot"),
		url("fonts/Bitter-Regular.ttf") format("ttf");
}
@font-face{
	src: url(fonts/NIOBBL_.ttf);
	font-family:"Niobium";
	src: local("Niobium"), local("Niobium"),
		url("fonts/NIOBBL_.otf") format("otf"),
		url("fonts/NIOBBL_.eot") format("eot"),
		url("fonts/NIOBBL_.ttf") format("ttf");
}
@font-face{
	src: url(fonts/NIOBRG_.ttf);
	font-family:"NIOBRG_";
	src: local("NIOBRG_"), local("NIOBRG_"),
		url("fonts/NIOBRG_.otf") format("otf"),
		url("fonts/NIOBRG_.eot") format("eot"),
		url("fonts/NIOBRG_.ttf") format("ttf");
}
.comm{
	width:100%;
	height:auto;
}
body{
	background:url(../images/bg2.jpg) no-repeat top center;
	margin:0;
	padding:0;
	color:#FFF;
	font-size:1px;
}
.outer{
	width:100%;
	margin:auto;
}
.cnt_outer{
	width:1003px;
	height:540px;
	padding:0 0;
	margin:auto;
}
.clear{
	clear:both;
	margin:0;
	padding:0;
}
.logo{
	margin:auto 380px;
	text-align:center;
	width:230px;
}
.abt{
	text-align:left;
	font-family: 'Bitter', serif;
	font-size:17px;
	color:#812990;
	margin:0 0 0 0;
	width:100%;
	min-height:50px;
}
.abt a{
	text-align:left;
	text-decoration:none;
	color:#812990;
	margin:10px 0px 0 30px;
}
.abt a:hover{
	text-decoration:none;
	color:#78b301;
}
.cnt_cont{
	width:1003px;
	margin:85px auto;
	height:255px;
}
.box_outer{
	width:269px;
	height:247px;
	float:left;
	margin:0 29px 0 29px;
	-webkit-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	-moz-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
}
.box_outer1{
	width:269px;
	height:247px;
	float:left;
	margin:0 29px 0 29px;
	-webkit-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	-moz-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
}
.box_outer2{
	width:269px;
	height:247px;
	float:left;
	margin:0 29px 0 29px;
	-webkit-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	-moz-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
}
.box_outer3{
	width:269px;
	height:247px;
	float:left;
	margin:0 29px 0 29px;
	-webkit-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	-moz-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
}
.abtbox_outer{
	width:229px;
	height:152px;
	float:left;
	margin:54px 0 0 0;
	-webkit-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	-moz-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
}
.abtbox_outer2{
	width:229px;
	height:152px;
	float:left;
	margin:19px 0 0 0;
	-webkit-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	-moz-box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
	box-shadow: 7px 8px 4px -6px rgba(165,165,165,1);
}
.box1{
	width:269px;
	height:247px;
	background:#78b301;
	margin:0;
	cursor:pointer;
}
.box1 a{
	cursor:pointer;
}
.abtbox1{
	width:229px;
	height:152px;
	background:#78b301;
	margin:0;
}
.abtbox2{
	width:229px;
	height:152px;
	background:#ff8800;
	margin:0;
}
.abtbox3{
	width:229px;
	height:152px;
	background:#9a33cc;
	margin:0;
}
.abt_log{
	float:right;
}
.abtpag{
	font-family:Niobium;
	font-size:32px;
	float:left;
	text-align:left;
	margin:59px 0 0 0;
	color:#ff8800;
	width:131px;
	height:30px;
	background:url(../images/abttxt_img.png) no-repeat;
}
.abtpag_tm{
	font-family:Niobium;
	font-size:25px;
	float:left;
	text-align:left;
	margin:49px 0 0 0;
	color:#ff8800;
	height:30px;
}
.abt_txt{
	width:675px;
	height:433px;
	background:url(../images/abt_conbg.png) repeat;
	margin:3px 0 0 0;
	float:left;
	border-bottom:2px solid #bebebe;
}
.box2{
	width:269px;
	height:247px;
	background:#ff8800;
	margin:0;
}
.box3{
	width:269px;
	height:247px;
	background:#9a33cc;
	margin:0;
}
.box_img{
	width:246px;
	height:172px;
	padding:11px 0 13px 11px;
	cursor:pointer;
}
.abtbox_img{
	width:210px;
	height:90px;
	padding:11px 0 10px 11px;
}
.abtpag_tilte{
	font-family:Niobium;
	font-size:32px;
	text-align:center;
	color:#FFF;
}
.abtpag_tilte a{
	color:#FFF;
	text-decoration:none;
}
.abtpag_tilte a:hover{
	color:#812990;
}
p{
	padding:0 0 25px 0;
}
.pag_tilte{
	font-family:Niobium;
	font-size:39px;
	text-align:center;
	color:#FFF;
}
.txt{
	background:url(../images/com.png) no-repeat;
	width:202px;
	height:36px;
	margin:195px 0 0 31px;}
.txt:hover{
		background:url(../images/com_hover.png) no-repeat;
}
.tm_txt{
	background:url(../images/tm_com.png) no-repeat;
	width:202px;
	height:38px;
	margin:194px 0 0 65px;}
.tm_txt:hover{
		background:url(../images/tm_comhover.png)no-repeat;
}
.txt_2{
	background:url(../images/live.png) no-repeat;
	width:156px;
	height:40px;
	margin:auto;
}
.txt_5{
	background:url(../images/live.png) no-repeat;
	width:156px;
	height:40px;
	margin:194px 0 0 57px;
}
.txt_5:hover{
		background:url(../images/live_hover.png) no-repeat;
}
.tm_txtlp{
	background:url(../images/tm_bx1.png) no-repeat;
	width:250px;
	height:40px;
	margin:196px 0 0 15px;
}
.tm_txtlp:hover{
		background:url(../images/tm_bx1hover.png) no-repeat;
}
.txt_2:hover{
		background:url(../images/live_hover.png) no-repeat;
}
.txt_3{
	background:url(../images/buy.png) no-repeat;
	width:133px;
	height:40px;
	margin:194px 0 0 73px;
}
.txt_3:hover{
		background:url(../images/buy_hover.png) no-repeat;
}
.tm_txtbysel{
	background:url(../images/tm_buy.png) no-repeat;
	width:200px;
	height:40px;
	margin:198px 0 0 40px;
}
.tm_txtbysel:hover{
		background:url(../images/tm_buyhover.png) no-repeat;
}

.txt_4{
	background:url(../images/buy.png) no-repeat;
	width:133px;
	height:40px;
	margin:-137px 0 0 107px;
}
.abt_txt1{
	width:175px;
	height:30px;
	background:url(../images/abt_com.png) no-repeat;
	margin:110px 0 0 25px;
}
.abt_txt1:hover{
		background:url(../images/abt_comhover.png) no-repeat;
}
.abtm_txt1{
	width:175px;
	height:40px;
	background:url(../images/abtm_com.png)no-repeat;
	margin:110px 0 0 57px;
}
.abtm_txt1:hover{
		background:url(../images/abtm_comhover.png) no-repeat;
}
.abt_txt2{
	width:130px;
	height:38px;
	background:url(../images/abt_liv.png) no-repeat;
	margin:110px 0 0 47px;
}
.abt_txt2:hover{
		background:url(../images/abt_livhover.png) no-repeat;
}
.abtm_txt2{
	width:220px;
	height:38px;
	background:url(../images/abtm_liv.png) no-repeat;
	margin:112px 0 0 14px;
}
.abtm_txt2:hover{
		background:url(../images/abtm_bx1hover.png)no-repeat;
}
.abt_txt3{
	width:112px;
	height:36px;
	background:url(../images/abt_buy.png) no-repeat;
	margin:110px 0 0 55px;
}
.abt_txt3:hover{
		background:url(../images/abt_buyhover.png) no-repeat;
}
.abtm_txt3{
	width:150px;
	height:36px;
	background:url(../images/abtm_buy.png) no-repeat;
	margin:113px 0 0 35px;
}
.abtm_txt3:hover{
		background:url(../images/abtm_buyhover.png) no-repeat;
}

.pag_tilte a{
	color:#FFF;
	text-decoration:none;
}
.pag_tilte a:hover{
	color:#812990;
}
.copyright{
	width:100%;
	background:#FFF;
	padding:7px 0;
	color:#812990;
	font-family: 'Bitter', serif;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	float:left;
	bottom:0;
	position:fixed;
}
.pop_content{
	width:641px;
	height:336px;
	margin:auto;
}
.pop_widget{
	width:198px;
	margin:25px 0 0 0;
	float:left;
}
.pop_widget2{
	width:185px;
	margin:25px 0 0 65px;
	float:left;
}
.pop_widget3{
	width:185px;
	margin:25px 0 0 0;
	float:left;
}

.pop_brviw{
	z-index:99;
	position:absolute;
	left:277px;
}
.pop_box1{
	width:200px;
	height:133px;
	margin:0 0 30px 0;
	float:left;
}
.pop_logo{
	width:200px;
	height:98px;
	z-index:99;
	position:absolute;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:url(../images/log_bg.png) repeat-x;
	text-align:center;
	margin:1px 0 0 0; 
	-webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.78);
box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.78);
	border:solid 1px #bdbcbd;
}
.pop_sitebutton{
	width:141px;
	height:33px;
	float:left;
}
.pop_lg{
	margin:18px 0 0 0;
}
.vist_bt{
	width:141px;
	height:17px;
	float:left;
	font-family: 'Bitter', serif;
	font-size:16px;
	color:#FFF;
	margin:97px 0 0 0;
	text-align:center;
	padding:20px 0 0 0;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	background: rgba(172,62,7,1);
background: -moz-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(172,62,7,1)), color-stop(50%, rgba(94,29,11,1)), color-stop(51%, rgba(94,29,11,1)), color-stop(100%, rgba(94,29,11,1)));
background: -webkit-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -o-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -ms-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: linear-gradient(to bottom, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3e07', endColorstr='#5e1d0b', GradientType=0 );
}
.vist_bt a{
	font-family: 'Bitter', serif;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
}
.vist_bt:hover{
	background:#ffaf02;
}
.vist_bt2{
		width:113px;
	height:17px;
	float:left;
	font-family: 'Bitter', serif;
	font-size:16px;
	color:#FFF;
	margin:268px 0 0 6px;
	text-align:center;
	padding:27px 0 0 0;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	background: rgba(172,62,7,1);
background: -moz-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(172,62,7,1)), color-stop(50%, rgba(94,29,11,1)), color-stop(51%, rgba(94,29,11,1)), color-stop(100%, rgba(94,29,11,1)));
background: -webkit-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -o-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -ms-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: linear-gradient(to bottom, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3e07', endColorstr='#5e1d0b', GradientType=0 );
}
.vist_bt2 a{
	font-family: 'Bitter', serif;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
}
.vist_bt2:hover{
	background:#ffaf02;
}
.tmvist_bt2{
		width:134px;
	height:17px;
	float:left;
	font-family: 'Bitter', serif;
	font-size:16px;
	color:#FFF;
	margin:268px 0 0 -9px;
	text-align:center;
	padding:27px 0 0 0;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	background: rgba(172,62,7,1);
background: -moz-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(172,62,7,1)), color-stop(50%, rgba(94,29,11,1)), color-stop(51%, rgba(94,29,11,1)), color-stop(100%, rgba(94,29,11,1)));
background: -webkit-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -o-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: -ms-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
background: linear-gradient(to bottom, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3e07', endColorstr='#5e1d0b', GradientType=0 );
}
.tmvist_bt2 a{
	font-family: 'Bitter', serif;
	font-size:16px;
	color:#FFF;
	text-decoration:none;
}
.tmvist_bt2:hover{
	background:#ffaf02;
}

.pop_txt{
	font-size:16px;
	font-family: 'Bitter', serif;
	color:#FFF;
	width:170px;
	float:left;
	padding:20px 0 20px 0;
	line-height:20px;
	border-bottom:1px solid #ffea00;
}
.pop_txt a{
	font-size:16px;
	font-family: 'Bitter', serif;
	color:#FFF;
	text-decoration:none;
	line-height:20px;
}
.pop_txt2{
	font-size:16px;
	color:#FFF;
	width:170px;
	float:left;
	font-family: 'Bitter', serif;
	padding:20px 0 20px 0;
	line-height:20px;
}
.pop_txt a:hover{
	text-decoration:underline;
}
.pop_txt2 a{
	font-size:16px;
	font-family: 'Bitter', serif;
	color:#FFF;
	text-decoration:none;
}
.pop_txt2 a:hover{
	text-decoration:underline;
}
.abt_cont{
	width:915px;
	height:555px;
	margin:auto;
}
.abt_lft{
	width:230px;
	float:left;
}
.abt_rgt{
	width:674px;
	float:right;
}
.pdf_bt{
	float:left;
	font-family: 'Bitter', serif;
	font-size:14px;
	color:#FFF;
	margin:0 12px 0 0px;
	text-align:center;
	padding:5px 15px 5px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(172,62,7,1);
	background: -moz-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(172,62,7,1)), color-stop(50%, rgba(94,29,11,1)), 									color-stop(51%, rgba(94,29,11,1)), color-stop(100%, rgba(94,29,11,1)));
	background: -webkit-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
	background: -o-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
	background: -ms-linear-gradient(top, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
	background: linear-gradient(to bottom, rgba(172,62,7,1) 0%, rgba(94,29,11,1) 50%, rgba(94,29,11,1) 51%, rgba(94,29,11,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac3e07', endColorstr='#5e1d0b', GradientType=0 );
}
.pdf_bt a{
	font-family: 'Bitter', serif;
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	float:left;
}
.pdf_bt:hover{
	background:#ffaf02;
}
.usman_img{
	font-family:Niobium;
	font-size:32px;
	float:left;
	padding:0 0 10px 0;
	width:100%;
	color:#ff8800;
	background:url(../images/usemal_img.png) no-repeat;
	width:171px;
	height:31px;
}
.tmusman_img{
	font-family:Niobium;
	font-size:22px;
	float:left;
	padding:0 0 10px 10px;
	width:100%;
	color:#ff8800;
	height:31px;

}
.mb_head{
	display:none;
}
.lang_but{
	width:100px;
	float:left;
	margin:0 0 0 20px;
}
.mb_nonesc{
	display:block;
}
.popModal{
	display:none;
}
.bt_txtlg{
	font-size:10px;
	float:right;
	color:#812990;
	position:absolute;
	top:10px;
	right:10px;
}
.md_submenu1{
		margin:-30px 0 0 50px;		
}